
body{
    
  background-color: rgba(248, 241, 217, 0.863);/*rgb(74, 73, 75);*/
  margin-bottom: 500px;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 15px;
}
  
p{
    font-family: Roboto, Arial;
    margin: 2px;
}



.input{
  /*width: 200px;*/
  flex: 1;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 1px 1px 2px;
  width: 0;
}
.input::placeholder{
    font-family: Roboto,Arial;
}
  
.search:hover{
    opacity: 0.8;
    transition: 0.10s;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(119, 117, 117);
}
  
.intro{
    color: antiquewhite;
    font-family: Arial;
    text-align: center;
    margin-bottom: 100px;

}
  /*.sug{
    font-family: Arial;
    color: antiquewhite;
    margin-bottom: 50px;
    }*/


.paragraph{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 5px;
    color: antiquewhite;
    text-align: center;
    background: url(image/wild-duck-8622063_1280.jpg);
    text-decoration: solid;
    font-size: 18px;
   /*line-height: 30px;*/
    /*background-color: blanchedalmond;*/
}

.Body-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 16px;
    color: whitesmoke;
    background-color: rgb(236, 230, 230);
   
}

  
.active-1{
    
    border: solid;
    border-radius: 7px;
    border-width: 10px;
    /*transition: tranform 1s linear*/
    
}
  
 
.active-2{
    
    border: solid;
    border-radius: 7px;
    border-width: 10px;
    /*transition: tranform 0.7s linear*/
}

.active-3{
    
    border: solid;
    border-radius: 7px;
    border-width: 10px;
    /*transition: tranform 0.7s linear*/

}
  
.active-1:hover, .active-2:hover, .active-3:hover{
    /*opacity: 0.3;*/
    /*
    border-width: 9px;
    transition: 0.19s;
    */
    transition: transform 0.9s ease;
    transform: scale(1.1);
}

.Silverback{
    width: 100%
}
  
.gorilla{
    border: none;
    color: /*antiquewhite;*/ black;
    padding: 10px;
   
    
  
}
  
.Lion{
    width: 100%;
}
  

  
.Lions-2{
    border: none;
    color: /*antiquewhite*/ black;
    padding: 10px;
    /*margin-top: 5px;*/
}
  
.tiger-1{
    width: 100%;
}
  
.tiger-2{
    border: none;
    color: /*antiquewhite*/ black;
    padding: 10px;
    /*margin-top: 5px;*/
}
