
body{
    
  background-color: rgba(248, 241, 217, 0.863);/*rgb(74, 73, 75);*/
  margin-bottom: 500px;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 15px;
}
  
p{
    font-family: Roboto, Arial;
    margin: 2px;
}



.input{
  /*width: 200px;*/
  flex: 1;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 1px 1px 2px;
  width: 0;
}
.input::placeholder{
    font-family: Roboto,Arial;
}
  
.search:hover{
    opacity: 0.8;
    transition: 0.10s;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgb(119, 117, 117);
}
  
.intro{
    color: antiquewhite;
    font-family: Arial;
    text-align: center;
    margin-bottom: 100px;

}
  /*.sug{
    font-family: Arial;
    color: antiquewhite;
    margin-bottom: 50px;
    }*/


.paragraph{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 10px;
    border-radius: 5px;
    color: antiquewhite;
    text-align: center;
    background: url(image/wild-duck-8622063_1280.jpg);
    background-position: center;
    background-size: cover;
    text-decoration: solid;
    font-size: 18px;
   /*line-height: 30px;*/
    /*background-color: blanchedalmond;*/
}

.Body-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 16px;
    color: whitesmoke;
    background-color: rgb(236, 230, 230);
   
}

  
.active-1{
    
    border: solid;
    border-radius: 7px;
    border-width: 10px;
    /*transition: tranform 1s linear*/
    
}
  
 
.active-2{
    
    border: solid;
    border-radius: 7px;
    border-width: 10px;
    /*transition: tranform 0.7s linear*/
}

.active-3{
    
    border: solid;
    border-radius: 7px;
    border-width: 10px;
    /*transition: tranform 0.7s linear*/

}
  
.active-1:hover, .active-2:hover, .active-3:hover{
    /*opacity: 0.3;*/
    /*
    border-width: 9px;
    transition: 0.19s;
    */
    transition: transform 0.9s ease;
    transform: scale(1.1);
}

.Silverback{
    width: 100%
}
  
.gorilla{
    border: none;
    color: /*antiquewhite;*/ black;
    padding: 10px;
   
    
  
}
  
.Lion{
    width: 100%;
}
  

  
.Lions-2{
    border: none;
    color: /*antiquewhite*/ black;
    padding: 10px;
    /*margin-top: 5px;*/
}
  
.tiger-1{
    width: 100%;
}
  
.tiger-2{
    border: none;
    color: /*antiquewhite*/ black;
    padding: 10px;
    /*margin-top: 5px;*/
}

.Petition{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    background: url(image/owl-50267_1280.jpg);
    background-position: center;
    background-size: cover;
    vertical-align:middle;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    padding: 100px 0;
    border-radius: 10px;
}
.Petition::before {
    content: ''; /* Add pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(165, 157, 157, 0.5) 0%, rgba(189, 184, 184, 0.7) 100%);
    backdrop-filter: blur(30px); /* Adjust blur value as needed */
    border-radius: 1px; /* Inherit the border radius from parent */
    opacity: 0.1;
}

.Petition h1{
    color:rgb(255, 255, 255);
    margin-bottom: 40px;
    padding: 0;

}
.petitionbutton h4{
    color: gold;
}

.footer{
    text-align: center;
    padding: auto;
    margin-top: 30%;
   
}
.footer h4{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:bolder;
}
.footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 10px;
}

.logoicon{
    margin-top: 5%;
    margin-bottom: 2%;
}